/*section-a styles*/
#section-a h1{
    text-align: center;
    font-weight:bold;
    Font-family: Arial;
    color: black;
}
#section-a .row{
    margin-top: 20px;
}
#section-a .card{
    font-weight:bold;
    Font-family: -apple-system;
    font-size: 0.7em;
}
#section-a .card:hover{
    box-shadow: 3px 3px 3px 3px #cccccc;
}
#section-a .card img{
    width:100%;
    height:150px;
}
#section-a .card img:hover{
   opacity:0.3;
}
/*section-b styles*/
#section-b{
    background-color:red;
    text-align: center;
    font-family: -apple-system;
    color:black;
    background-image:url("../images/willian-west-TVyjcTEKHLU-unsplash.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:80vh;
    padding-top:100px;
}
.lead{
    color:black;
}
/*styling the image*/
/*styling the login and signup forms*/
.auth-signup{
    padding:20px;
    border-radius:10px;
    box-shadow:3px 3px 3px 3px #cccccc;
}
.auth-signup img{
    width:310px;
    height:200px;
    border-radius:80%;
}
.auth-signup .content-title{
    text-align: center;
    font-family:-apple-system:
}
.auth-signup hr{
    padding:2px;
    margin:0;
}